.listProduct .item img{
    height: 25rem;
}
.listProduct .item h3{
    font-size: 2rem;
    color:var(--black);
}
.listProduct .item .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-top: 1rem;
}
.listProduct .item .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}

.listProduct .item button{
   
    position: absolute;
    top:30%;
    left: 5%;
    background-color: #e6572c;
    color: #fff;
    border: none;
    padding: 20px 30px;
    box-shadow: 0 10px 50px #000;
    cursor: pointer;
    transform: translateX(-50%) translateY(100px);
    opacity: 0;

}
.listProduct .item:hover button{
    transition:  0.5s;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}
